site_name: PyGlobe
site_description: PySide6 ObenGL Globe Widget
site_author: Bran Hone

nav:
  - Home: 'index.md'
  - API Reference: 'api-reference.md'
  - Coordinate Reference: 'coords.md'
#  - User Guide: 'user-guide.md'
#  - About: 'about.md'

theme:
  name: readthedocs # Or 'readthedocs', 'mkdocs', etc.
  palette:
    - scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.tabs.link

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
